<!DOCTYPE html>

<html>

<head>
    <title>Node.js express mongDB CRUD</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script></head>


 
<body class="bg-info">
     <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/user/list">CRUD app</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/user/list">Home</a></li>
      <li><a href="/user/list">List Users</a></li>
      <li><a href="/user/">Create User</a></li>
      
      <li><a href="/user/logout">Logout</a></li>
    </ul>
  </div>
</nav>
    <div class="container" >
        
    <div class="row">
        <div class="col-md-6 offset-md-3" style="background-color: #fff;margin-top: 25px;padding:20px; margin-left:26%">
           
            {{{body}}}
        </div>
    </div>
</div>
</body>

</html>